@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav-link[data-active="false"] {
  color: #eddd;
}

.nav-link:hover {
  color: white;
}
